.md-toolbar .md-input-container {
  min-height: 48px;
  margin-top: 4px;
  margin-bottom: 24px;
  padding-top: 16px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity ease-out 0.3s;
  opacity: 1;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.autocomplete {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
  margin: 0;
  padding: 8px 0;
  list-style: none;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
  will-change: transform, opacity, width;
  overflow: hidden;
  &.active {
    /*opacity: 1;*/
    height: auto;
  }
  & li {
    cursor: pointer;
    font-size: 16px;
    padding: 4px 16px;
    line-height: 1.2em;
    height: auto;
    z-index: 2;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      background-color: rgba(0, 0, 0, .12);
    }
    &.select {
      background: #dcedc8;
    }
  }
}
