:root {
  --toolbarHeight: 64px;
  --tableHeight: 50px;
}
.list {
  height: 100%;
  overflow: hidden;
  & .md-toolbar {
    height: var(--toolbarHeight);
    & .fast-add {
      margin-left: 20px;
    }
  }
  & .list-table {
    height: calc(100% - var(--toolbarHeight));
    & .list-table-header,
    & .list-table-body .list-table-row {
      display: flex;
      align-items: center;
      padding: 4px 0;
    }
    & .list-table-header {
      padding-top: 15px;
      height: var(--tableHeight);
    }
    & .list-table-body {
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100% - var(--tableHeight));
    }
    & .list-table-done {
      width: 48px;
      margin: 0;
      text-align: center;
      & .md-checkbox {
        margin: 0;
      }
    }
    & .list-table-name {
      flex: 0.4;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
    }
    & .list-table-descriptions {
      flex: 0.6;
      padding: 0 5px;
    }
    & .list-table-quantity {
      text-align: right;
      width: 40px;
    }
    & .list-table-remove {
      width: 52px;
      transition: all .4s cubic-bezier(.25,.8,.25,1);
    }
    & .list-table-row:hover {
      cursor: pointer;
      background-color: #eee;
    }
    @media (width <= 500px){
      & .list-table-name {
        flex: 1;
      }
      & .list-table-descriptions {
        display: none;
      }
    }
  }
}
