.side-menu {
  & .side-menu-toggle {
   position: absolute;
    top: 25px;
    left: 25px;
  }
  @media (width <= 500px) {
    & .side-menu-toggle {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
