td, th {
  vertical-align: middle;
}

.md-dialog-content {
  overflow-x: hidden;
}

[v-cloak] {
  display: none
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity ease-out 0.3s;
  opacity: 1;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.md-input-container .error-validate {
  position: absolute;
  display: block;
  padding: 3px;
  border-radius: 3px;
  right: 0;
  top: 3px;
  color: red;
  font-size: 12px;
  line-height: 12px;
  background-color: #efefef;
}



