.registration-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  & .wrapper {
    width: 100%;
    max-width:90%;
    & .logo{
      height: 80px;
    }
    & .auth-page-header {
      margin-top: 50px;
      & h3 {
        color: #8bc34a;
        text-align: center;
      }
    }
    & form {
      margin: 20px auto;
      max-width: 450px;
    }
    & .md-google {
      color: #fff !important;
      background-color: #357ae8 !important;
      & .md-icon {
        background: url("~assets/img/google_logo-256.png");
        background-size: contain;
        margin-right: 12px;
      }
    }
  }
}
